.box {
    background-color: #191919;
    position: absolute;
    width: 100%;
    height: 101px;
    margin-left: -8px;
}
@font-face  {
    font-family: "myMuli" ;
    src: url('./fonts/Mulish-ExtraBold.ttf');
}
.logo{
    position: absolute;
    width: 358px;
    height: 70px;
    left: 8%;
    top: -162px;
    margin-left: 406px;
}
p {
    color: #ffffff;
    font-size: 35px;
  font-weight: bolder;
    text-align: center;
    padding-left: -70px;
    margin-left: -4%;
    margin-top: 4px;
}
nav{
    
    position: absolute;
    background-color: white;
    width: 82%;
    height: 57px;
    left: 8%;
    top: 84px;
}

.icons{
    display: inline;
 
    margin-left: 140px;
    margin-top: 15px;
}
.icons-yellow {
    color: #ffa301;
}

span{
color:#f89f02;    
}
button{
    border-color: white;
    background-color: white;
    font-family: myMuli;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 2px;
    border: none;
    margin-left: 64px;
    margin-top: 15px;
}
button:hover{
    background-color: #f89f02;
    color: #191919;
    transition: 2s;
    transform: rotateX(360eg);
}
body{
    background-color: whitesmoke;
}
img{
    position: relative;
    width: 48%;
    height: 379px;
    margin: 62px;
    margin-left: 19px;
    margin-right: -8px;
    margin-top: 165px;
}

